body {
  font-family: helvetica;
  color: white;
  background-color: gray;
  opacity: .8;
  text-align: center;
  width: 70%;
  margin-left: 15%;
}
html {
  background: url(http://i.imgur.com/XmqJlUP.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img {
  width: 50%;
  height: 50%;
  border-radius: 35%;
}
h1 {
  font-size: 70px;
}
footer {
  background-color: green;
  opacity: .5;
  font-size: 20px;
}
